# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.vscode
/node_modules
/.pnp
.pnp.js

# testing
/artifacts
/coverage
/playwright-report
/test-results

# production
/build
/dist
/.vercel

# misc
.DS_Store
.env
.env.*
!.env.example

npm-debug.log*
/debug.log
yarn-debug.log*
yarn-error.log*
