.root {
  position: relative;
  left: -120px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.22);
  padding: 12px 20px;
  padding-left: 50px;
  width: 400px;
  background-repeat: 15px;
  font-size: 18px;
  transition: all 0.1s ease-in-out;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.32);
  }

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
}

.icon {
  width: 29px;
  height: 29px;
  opacity: 0.28;
  position: absolute;
  left: 10px;
  top: 10px;
}

.clearIcon {
  width: 32px;
  height: 32px;
  opacity: 0.24;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover{
    opacity: 0.4;
  }
}